@font-face {
	font-family: 'FunnelDisplay';
	src: url('/fonts/FunnelDisplay-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FunnelDisplay';
	src: url('/fonts/FunnelDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FunnelDisplay';
	src: url('/fonts/FunnelDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FunnelDisplay';
	src: url('/fonts/FunnelDisplay-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FunnelDisplay';
	src: url('/fonts/FunnelDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FunnelDisplay';
	src: url('/fonts/FunnelDisplay-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
